<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">

				<a href="http://s1373.photobucket.com/user/mattshanklin2013/media/ScreenShot2014-11-05at92001AM_zpsf9a370c5.png.html" target="_blank"><img src="http://i1373.photobucket.com/albums/ag380/mattshanklin2013/ScreenShot2014-11-05at92001AM_zpsf9a370c5.png" border="0" alt="main image photo ScreenShot2014-11-05at92001AM_zpsf9a370c5.png"/></a>

			</div>


			<div class="col-md-6 col-md-offset-2">

				<h1 class="margin-base-vertical" style="color: #47525D">Compare & Rank Your Resume.</h1>
				<br>
				<p class="subheader" style="font-size: 18px; font-weight: 300;color: #677277; margin: 0 45px; text-align: center">We're making it easier for people to understand how to improve their resumes and get the career of their dreams. It's a whole new way of applying for jobs.</p>
				<br>
				
				<form class="form-inline" role="form">
					<div class="form-group">
	    			<label class="sr-only" for="exampleInputEmail2">Email address</label>
	    			<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
	    			<button type="button" class="btn btn-primary" style="margin: 15px">Join now</button>

	  			</div>
	  		</form>
				


	</div>

			
</div>