<div class="row">
  <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10">
	<a href="http://s1373.photobucket.com/user/mattshanklin2013/media/ScreenShot2014-11-05at92001AM_zps7422f61e.png.html" target="_blank"><img src="http://i1373.photobucket.com/albums/ag380/mattshanklin2013/ScreenShot2014-11-05at92001AM_zps7422f61e.png" border="0" alt=" photo ScreenShot2014-11-05at92001AM_zps7422f61e.png"/></a>
</div> <!--End Row-->

<div class="row center cool">
  <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<h2>Compare & Build Your Resume</h2>
		<div class="col-md-10 col-md-offset-1 cool1">
			<p>We redesigned the inbox to make email light, fast, and mobile-friendly. Quickly swipe messages to your archive or trash and scan entire conversations in a chat-like view. It's a whole new inbox.</p><br>		
		</div> 
	<div class="col-lg-12">
		<div class="input-group">
	    <input type="text" class="form-control input-lg" placeholder="Enter email">
	    <span class="input-group-btn">
	      <button class="btn btn-primary btn-lg" type="button">Join now!</button>
	    </span>
	  </div><!-- /input-group -->
	 </div><!-- /.col-lg-8 -->

	</div> <!--End Grid System-->
</div> <!--End Row Center-->